<header class="m-bottom-50">
    <div class="header-container">
        <div class="logo">
            <a href="/">
                THAT
                <span>SONG</span>
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/find">
                        <img src="/icons/Vector.svg"> FIND
                    </a>
                </li>
                <li>
                    <a href="/song/add">
                        <img src="/icons/plus icon.svg"> SONG
                    </a>
                </li>
                <li>
                    <a href="/playlist/create">
                        <img src="/icons/plus icon.svg"> PLAYLIST
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>