<div class="theme-container">
    <div>
        <span class="head-2">CREATE</span>
        <span class="head-1">PLAYLIST</span>
    </div>

    <form class="theme-form" action="/playlist/create" method="POST">
        <input type="text" name="name" id="name" placeholder="NAME" required>
        <input type="text" name="genre" id="genre"  placeholder="GENRE" required>

        <button class="m-top-50" type="submit">
            <img src="/icons/plus icon.svg"> CREATE
        </button>
    </form>
</div>
