<div class="theme-container">

    <h1 class="head-1  m-bottom-50">FIND</h1>

    <a href="/song/find" class="head-a m-bottom-25">SONGS</a>

    <a href="/playlist/find" class="head-a m-bottom-25">PLAYLIST</a>
</div>