<div class="theme-container">

    <h1 class="head-1  m-bottom-25">FIND</h1>

    <a href="/song/find" class="head-a m-bottom-25">SONGS</a>

    <a href="/playlist/find" class="head-a m-bottom-50">PLAYLIST</a>

    <h1 class="head-1  m-bottom-25">ALL</h1>

    <a href="/song/allsongs" class="head-a m-bottom-25">SONGS</a>

    <a href="/playlist/allplaylists" class="head-a">PLAYLISTS</a>
</div>