<div class="theme-container m-bottom-50">
    <div>
        <span class="head-2">FIND</span>
        <span class="head-1">SONG</span>
    </div>

    <form class="theme-form" action="/song/find" method="POST">
        <input type="text" name="name" id="name" placeholder="NAME">
        <input type="text" name="artist" id="artist" placeholder="ARTIST">
        <input type="text" name="genre" id="genre"  placeholder="GENRE">
        <input type="text" name="album" id="album" placeholder="ALBUM / MOVIE">
        <input type="number" min="1900" max="3000" name="year" id="year" placeholder="YEAR">

        <button class="m-top-50" type="submit">
            <img src="/icons/Vector.svg"> SEARCH
        </button>
    </form>
</div>
